<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <header>
        <h1 class="logo"> MPSC </h1>
        <ul class="navigation">
            <li><a href="/">HOME</a></li>
            <li><a href="/passion">VIDEO & PHOTOGRAPHY</a></li>
            <li><a href="/notes">NOTES</a></li>
            <li><a href="/about">ABOUT ME</a></li>
        </ul>
    </header>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:marlon.ps.cardenas@gmail.com">email</a></li>
            <li><a href="https://marloncardenas.github.io">marloncardenas.github.io</a></li>
        </ul>
    </footer>
</body>

</html>